python-telegram-bot[ext]
fastapi
uvicorn[standard]
requests
apscheduler
sqlalchemy
google-generativeai
python-dotenv
pytesseract
pillow
paho-mqtt
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
